body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "MuseoSans" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: " MuseoSans";
  src: local(" MuseoSans"),
    url("./font/Museo\ Sans\ 700.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: " MuseoSans300";
  src: local(" MuseoSans300"),
    url("./font/Museo\ Sans\ 300\ Regular.ttf") format("truetype");
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
